<script id="tmpl_encounter_flow" type="x-tmpl-mustache">
  <div class="panel panel-success">
    <div class="panel-heading">
      <i class="fa fa-stethoscope" aria-hidden="true" style="border-right: none;"></i> Encounters
      <div id="btn_new_encounter" class="box-icon pull-right">
       <i class="fas fa-file-medical" aria-hidden="true"></i>
       New Encounter
      </div>
    </div>

    <div class="panel-body">
        <div class="" id="encounter" hidden>

            <div class="row">
              <div class="col-sm-1 pull-left">
                <button type="button" class="btn btn-primary btn_print_encounter btn-block"><i class="fas fa-print"></i></button>
              </div>
              <div class="col-sm-1 pull-left">
                
                <button type="button" class="btn btn-danger btn_delete_encounter btn-block"><i class="fas fa-trash-alt"></i></button>
              </div>
              <div class="col-sm-3 pull-right">
                <span class="pull-right">
                  <span id="label_encounter_saved" class="label label-success">Saved &nbsp&nbsp&nbsp;</span>
                <span id="label_encounter_saving" class="label label-success">Saving... &nbsp;</span>
                <span id="label_encounter_saving_error" class="label label-danger">Not Saved!</span>
                </span>
              </div>
            </div>
           <br>
  
            <div class="panel panel-info">
              <div class="panel-heading" id='Encounter_title'>SOAP note</div>
              <div class="panel-body">
  
  
                <form id="editSOAP" role="form">
  
  
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group ">
                        <input id="SOAP_ID" name="id" type="hidden">
                        <label class="" for="subjective">Subjective</label>
                        <textarea class="form-control soap_input" rows="3" id="subjective" name="subjective"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group ">
                        <label class="" for="objective">Objective</label>
                        <textarea class="form-control soap_input" rows="3" id="objective" name="objective"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group ">
                        <label class="" for="assessment">Assessment</label>
                        <textarea class="form-control soap_input" rows="3" id="assessment" name="assessment"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group ">
                        <label class="" for="plan">Plan/Treatment</label>
                        <textarea class="form-control soap_input" rows="3" id="plan" name="plan"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group ">
                        <label class="">Supportive Measures</label>
                        <textarea class="form-control soap_input" rows="3" id="supp_measures" name="supp_measures"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group ">
                        <label class="" for="interval">Interval</label>
                        <input class="form-control soap_input" id="interval" name="interval">
                        
                      </div>
                    </div>
                    
                  </div>
                </form>
              </div>
              <div class="row">
  
                  <div class="col-sm-2 pull-left">
                  <button type="button" class="btn btn-success btn_record_encounter btn-block"><i class="fas fa-microphone"></i>&nbsp;Record encounter</button>
                    
                  </div>
                  <div class="col-sm-2 pull-right">
                    <button type="button" class="btn btn-primary btn_close_encounter btn-block"><i class="fas fa-sign-out-alt"></i>&nbsp;Close encounter</button>
                  </div>
                </div>
            </div>
  
            
  
            
  
  
  
            
            
  
          </div>
          <!--/tab-pane #new encounter-->
        <div class="tab-pane active" id="pane_encounters">
          <div id="encounters_table">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Subjective</th>
                  <th>Objective</th>
                  <th>Assessment</th>
                  <th>Treatment</th>
                  <th>Interval</th>
                  <th>Doctor</th>

            
                  
               </tr>
              </thead>
              <tbody>
      
              </tbody>
            </table>

          </div>
          <!--/timeline-->
        
        <!--/tab-pane #encounters-->



       
     
    </div>
    <!--/box-content-->
  </div>
  <!--/box-->
</script>

<script id='tmpl_encounter' type="x-tmpl-mustache">
  <tr encounterID="{{encounterID}}" class="encounter">
    <td>{{date}}<br><strong>{{{diagnoses}}}</strong></td>
    <td><i class="fa fa-stethoscope" aria-hidden="true"></i></td>
    <td>{{subjective}}</td>
    <td>{{objective}}</td>
    <td>{{assessment}}</td>
    <td>{{plan}}</td>
    <td>{{interval}}</td>
    <td>{{username}}</td>
  </tr>

</script>
