<script id="tmpl_orthotics" type="x-tmpl-mustache">
  <div class="row">&nbsp;</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Orthotics / Insoles</label>
        <div class="row">
          <div class="col-sm-10">
            <input autocomplete="off" class="form-control tagsinput" name="type" type="text" value="{{type}}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label>Origin</label>
        <div class="row">
          <div class="col-sm-10">
            <input autocomplete="off" class="form-control tagsinput" name="origin" type="text" value="{{origin}}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Since</label>
        <div class="row">
          <div class="col-sm-10">
            <input autocomplete="off" class="form-control tagsinput" name="since" type="text" value="{{since}}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label>Effect</label>
        <div class="row">
          <div class="col-sm-10">
            <input autocomplete="off" class="form-control tagsinput" name="effect" type="text" value="{{effect}}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>Notes</label>
        <div class="row">
          <div class="col-sm-10">
            <input autocomplete="off" class="form-control tagsinput" name="notes" type="text" value="{{notes}}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Heel lift</label>
        <div class="row">
          <div class="col-sm-10">
            <input autocomplete="off" class="form-control tagsinput" name="lift" type="text" value="{{heel_lift}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>