<script id='tmpl_social_history' type="x-tmpl-mustache">
  <div class='row'>&nbsp;</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Profession</label>
        <div class="row">
          <div class="col-sm-10">
          <input autocomplete="off" class="form-control tagsinput" name="profession" type="text" value="{{profession}}">
        </div>
        </div>
			</div>
    </div>

    <div class="col-sm-6">
      <div class="form-group ">
        <label class="" for="">Retired</label>
        <input name="retired" class="retired" type="checkbox" {{#retired}} checked{{/retired}}>  
      </div>
    </div>


  </div>

    
    
    <div class='row'>
      <div class="col-sm-6">
        <div class="form-group">
            <label>Sport</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="sport" class="form-control allergy tagsinput" type="text" value="{{sport}}">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-6">
        <div class="form-group ">
            <label class="" for="">Smoking</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="smoking" class="form-control tagsinput" type="text" value="{{smoking}}">
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group ">
            <label class="" for="">Drinking</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="drinking" class="form-control tagsinput" type="text" value="{{drinking}}">
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class='row'>
      <div class="col-sm-6">
        <div class="form-group ">
            <label class="" for="">Sleeping</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="sleeping" class="form-control tagsinput" type="text" value="{{sleeping}}">
              </div>
            </div>
        </div>
      </div>
    </div>
      
    
     

  
</script>


<script id="tmpl_general_history_pmh" type="x-tmpl-mustache" >
  {{#pmh}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input name="pmh_year" class="form-control year" type="text" placeholder="year" value="{{year}}">
        </div>
      </div>
      <div class="col-sm-6">
        <input name="pmh_condition" class="form-control condition cloneWhenFull" type="text" placeholder="condition" value="{{condition}}">
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6">
          <input class="redflag" type="checkbox" {{#redflag}}checked{{/redflag}}> red flag
        </div>
        <div class="col-sm-6">
          <input class="yellowflag" type="checkbox" {{#yellowflag}}checked{{/yellowflag}}> yellow flag
        </div>
      </div>
    </div>
  </li>
  {{/pmh}}
</script>



<script id="tmpl_general_history_familyhistory" type="x-tmpl-mustache" >
  {{#familyhistory}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-6">
        <input name="condition" class="form-control condition cloneWhenFull" type="text" placeholder="condition" value="{{condition}}">
      </div>
      <div class="col-sm-6">
        <input name="relationship" class="form-control relationship" type="text" placeholder="relationship" value="{{relationship}}">
      </div>
    </div>
  </li>
  {{/familyhistory}}
</script>
