<script id='tmpl_social_history' type="x-tmpl-mustache">
  <div class='row'>&nbsp;</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Profession</label>
        <div class="row">
          <div class="col-sm-10">
          <input autocomplete="off" class="form-control tagsinput" name="profession" type="text" value="{{profession}}">
        </div>
        </div>
			</div>
    </div>

    <div class="col-sm-6">
      <div class="form-group ">
        <label class="" for="">Retired</label>
        <input name="retired" class="retired" type="checkbox" {{#retired}} checked{{/retired}}>  
      </div>
    </div>


  </div>

    
    
    <div class='row'>
      <div class="col-sm-6">
        <div class="form-group">
            <label>Sport</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="sport" class="form-control allergy tagsinput" type="text" value="{{sport}}">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-6">
        <div class="form-group ">
            <label class="" for="">Smoking</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="smoking" class="form-control tagsinput" type="text" value="{{smoking}}">
              </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group ">
            <label class="" for="">Drinking</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="drinking" class="form-control tagsinput" type="text" value="{{drinking}}">
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class='row'>
      <div class="col-sm-6">
        <div class="form-group ">
            <label class="" for="">Sleeping</label>
            <div class="row">
              <div class="col-sm-10">
                <input name="sleeping" class="form-control tagsinput" type="text" value="{{sleeping}}">
              </div>
            </div>
        </div>
      </div>
    </div>
</script>

<script id='tmpl_context_history' type="x-tmpl-mustache">
  <div class='row'>&nbsp;</div>
  <div class='row'>
    <div class="col-sm-12">
      <div class="form-group ">
          <label class="" for="">Context</label>
          <div class="row">
            <div class="col-sm-10">
              <div class="input-group">
                <input id="context_input" class="form-control" type="text" placeholder="Add relevant patient context">
                <span class="input-group-btn">
                  <button class="btn btn-primary" id="btnAddContext" type="button">Add</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;">
            <div class="col-sm-10">
              <ul class="list-group context-list">
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</script>

<script id="tmpl_social_history_context" type="x-tmpl-mustache" >
  {{#context_items}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <strong>{{date}}</strong>
      </div>
      <div class="col-sm-8 col-md-9">
        <span>{{text}}</span>
      </div>
      <div class="col-sm-1 text-right">
        <button class="btn btn-link btn-xs btn-delete-context" type="button" data-index="{{index}}" title="Delete">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </li>
  {{/context_items}}
</script>


<script id="tmpl_general_history_pmh" type="x-tmpl-mustache" >
  {{#pmh}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input name="pmh_year" class="form-control year" type="text" placeholder="year" value="{{year}}">
        </div>
      </div>
      <div class="col-sm-6">
        <input name="pmh_condition" class="form-control condition cloneWhenFull" type="text" placeholder="condition" value="{{condition}}">
      </div>
      <div class="col-sm-4">
        <div class="col-sm-6">
          <input class="redflag" type="checkbox" {{#redflag}}checked{{/redflag}}> red flag
        </div>
        <div class="col-sm-6">
          <input class="yellowflag" type="checkbox" {{#yellowflag}}checked{{/yellowflag}}> yellow flag
        </div>
      </div>
    </div>
  </li>
  {{/pmh}}
</script>



<script id="tmpl_general_history_familyhistory" type="x-tmpl-mustache" >
  {{#familyhistory}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-6">
        <input name="condition" class="form-control condition cloneWhenFull" type="text" placeholder="condition" value="{{condition}}">
      </div>
      <div class="col-sm-6">
        <input name="relationship" class="form-control relationship" type="text" placeholder="relationship" value="{{relationship}}">
      </div>
    </div>
  </li>
  {{/familyhistory}}
</script>
