<script id='tmpl_working_plan' type="x-tmpl-mustache">
 
<div class="panel panel-default">
  <div class="panel-heading">Working Plan</div>
  <div class="panel-body">
      
   
    <ul class="nav nav-tabs workingPlanTabs" id="workingPlanTabs">
        {{#clinics}}
            <li><a href="#{{clinic_id}}" data-toggle="tab">{{clinic_name}}</a></li>
        {{/clinics}}
								
	</ul>

    <div id="workingPlanTabsContent" class="tab-content">
         {{#clinics}}
             <div class="tab-pane working_plan_" id="{{clinic_id}}">
                <h3>Working Plan for <strong>{{clinic_name}}</strong></h3>

                <div class="row">
                    <div class="col-sm-2">
                        <label>Calendar color: </label>    
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="colorpicker form-control input" value="{{color}}">
                    </div>
                </div>
                <div class="row">&nbsp;</div>

                {{#working_plan}}

                <div class="day-group monday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}monday" {{#monday}}checked{{/monday}}> Monday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^monday}}inactive{{/monday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{monday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{monday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^monday}}inactive{{/monday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#monday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/monday.breaks}}
                    </div>
                    </span>
                
                </div>
                <div class="row">&nbsp;</div>

                <div class="day-group tuesday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}tuesday" {{#tuesday}}checked{{/tuesday}}> Tuesday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^tuesday}}inactive{{/tuesday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{tuesday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{tuesday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^tuesday}}inactive{{/tuesday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#tuesday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/tuesday.breaks}}
                    </div>
                    </span>
                
                </div>
                <div class="row">&nbsp;</div>
                <div class="day-group wednesday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}wednesday" {{#wednesday}}checked{{/wednesday}}> Wednesday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^wednesday}}inactive{{/wednesday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{wednesday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{wednesday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^wednesday}}inactive{{/wednesday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#wednesday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/wednesday.breaks}}
                    </div>
                    </span>
                
                </div>
                <div class="row">&nbsp;</div>
                <div class="day-group thursday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}thursday" {{#thursday}}checked{{/thursday}}> Thursday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^thursday}}inactive{{/thursday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{thursday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{thursday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^thursday}}inactive{{/thursday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#thursday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/thursday.breaks}}
                    </div>
                    </span>
                
                </div>
                <div class="row">&nbsp;</div>
                <div class="day-group friday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}friday" {{#friday}}checked{{/friday}}> Friday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^friday}}inactive{{/friday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{friday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{friday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^friday}}inactive{{/friday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#friday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/friday.breaks}}
                    </div>
                    </span>
                
                </div>
                <div class="row">&nbsp;</div>
                <div class="day-group saturday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}saturday" {{#saturday}}checked{{/saturday}}> Saturday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^saturday}}inactive{{/saturday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{saturday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{saturday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^saturday}}inactive{{/saturday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#saturday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/saturday.breaks}}
                    </div>
                    </span>
                
                </div>
                <div class="row">&nbsp;</div>
                <div class="day-group sunday">
                    <div class="day-hours row">
                        <div class="col-sm-2">
                            <label class="customcheck"><input type="checkbox" class="{{clinic_id}}sunday" {{#sunday}}checked{{/sunday}}> Sunday <span class="checkmark"></span></label>
                        </div>
                        <span class="time-select {{^sunday}}inactive{{/sunday}}">
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-start form-control input" value="{{sunday.start}}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text"  class="timepicker work-end form-control input" value="{{sunday.end}}">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm add-break"><span class="glyphicon glyphicon-plus"></span></button> break
                        </div>
                        </span>
                    </div>
                    <span class="time-select {{^sunday}}inactive{{/sunday}}">
                    <div class="day-breaks">
                        <div class="row">&nbsp;</div>
                    {{#sunday.breaks}}
                        <div class="row day-break">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input class="timepicker break-start form-control input" type="text" value="{{start}}">
                        </div>
                        <div class="col-sm-2">
                            <input class="timepicker break-end form-control input" type="text" value="{{end}}">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    {{/sunday.breaks}}
                    </div>
                    </span>
                
                </div>
                    


                </div>
                {{/working_plan}}
               
          {{/clinics}}
	    
    </div>


 

   

 
 
 </script>