<script id='tmpl_working_plan' type="x-tmpl-mustache">
<div class="panel panel-default">
  <div class="panel-heading">Working Plan</div>
  <div class="panel-body">
    <ul class="nav tab-menu nav-tabs" id="workingPlanTabs">
        {{#clinics}}
            <li><a href="#{{clinic_id}}">{{clinic_name}}</a></li>
        {{/clinics}}
								
	</ul>

    <div id="workingPlanTabsContent" class="tab-content">
         {{#clinics}}
             <div class="tab-pane" id="{{clinic_id}}">{{clinic_name}}</div>
          {{/clinics}}
	    
    </div>

</div>
    {{#clinics}}  
        <h3>Working Plan for <strong>{{clinic_name}}</strong></h3>
            
        <table class="working-plan table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
            
            {{#working_plan}}
                <tr>
               
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="{{clinic_id}}monday" {{#monday}}checked{{/monday}}>
                                Monday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="{{clinic_id}}monday work-start form-control input"  {{^monday}}disabled{{/monday}} value="{{monday.start}}"></td>
                    <td><input type="text"  class="{{clinic_id}}monday work-end form-control input" {{^monday}}disabled{{/monday}} value="{{monday.end}}"></td>
                </tr>
                
                <tr class="breaks">
                    <td></td>
                    <td colspan="2"><strong>Breaks<strong></td>
                    
                    <td><button type="button" class="btn btn-primary btn-sm add-break">
                        <span class="glyphicon glyphicon-plus"></span>
                                               </button></td>
                </tr>
                
                {{#monday.breaks}}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input class="{{clinic_id}}monday form-control input" type="text" value="{{start}}"</td>
                        <td><input class="{{clinic_id}}monday form-control input" type="text" value="{{end}}"</td>
                        <td><button type="button" class="btn btn-danger btn-sm delete-break" title="Delete"><span class="glyphicon glyphicon-remove"></span></button></td>

                    </tr>
                {{/monday.breaks}}



                <tr>
               
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="{{clinic_id}}tuesday" {{#tuesday}}checked{{/tuesday}}>
                                Tuesday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="{{clinic_id}}tuesday work-start hasDatepicker"  {{^tuesday}}disabled{{/tuesday}} value="{{tuesday.start}}"></td>
                    <td><input type="text"  class="{{clinic_id}}tuesday work-end hasDatepicker" {{^tuesday}}disabled{{/tuesday}} value="{{tuesday.end}}"></td>
                </tr>
                
                <tr class="breaks">
                    <td></td>
                    <td colspan="2"><strong>Breaks</strong></td>
                    <td><button type="button" class="btn btn-primary btn-sm add-break">
                        <span class="glyphicon glyphicon-plus"></span>
                                               </button></td>
                </tr>
                
                {{#tuesday.breaks}}
                    <tr>
                        <td>&nbsp;</td>
                        <td><input class="{{clinic_id}}tuesday" type="text" value="{{start}}"</td>
                        <td><input class="{{clinic_id}}tuesday" type="text" value="{{end}}"</td>

                    </tr>
                {{/tuesday.breaks}}
            
                

                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="tuesday" {{#tuesday}}checked{{/tuesday}}>
                                Tuesday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="work-start hasDatepicker" {{^tuesday}}disabled{{/tuesday}} value="{{tuesday.start}}"></td>
                    <td><input type="text"  class="work-end hasDatepicker" {{^tuesday}}disabled{{/tuesday}}  value="{{tuesday.end}}"></td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="wednesday" {{#wednesday}}checked{{/wednesday}}>
                                Wednesday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="work-start hasDatepicker" {{^wednesday}}disabled{{/wednesday}} value="{{wednesday.start}}"></td>
                    <td><input type="text"  class="work-end hasDatepicker" {{^wednesday}}disabled{{/wednesday}} value="{{wednesday.end}}"></td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="thursday" {{#thursday}}checked{{/thursday}}>
                                Thursday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="work-start hasDatepicker" {{^thursday}}disabled{{/thursday}} value="{{thursday.start}}"></td>
                    <td><input type="text"  class="work-end hasDatepicker" {{^thursday}}disabled{{/thursday}} value="{{thursday.end}}"></td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="friday" {{#friday}}checked{{/friday}}>
                                Friday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="work-start hasDatepicker"  {{^friday}}disabled{{/friday}} value="{{friday.start}}"></td>
                    <td><input type="text"  class="work-end hasDatepicker"  {{^friday}}disabled{{/friday}} value="{{friday.end}}"></td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="saturday" {{#saturday}}checked{{/saturday}} >
                                Saturday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="work-start hasDatepicker" {{^saturday}}disabled{{/saturday}} value="{{saturday.start}}"></td>
                    <td><input type="text"  class="work-end hasDatepicker" {{^saturday}}disabled{{/saturday}} value="{{saturday.end}}"></td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox" class="sunday" {{#sunday}}checked{{/sunday}} >
                                Sunday</label>
                        </div>
                    </td>
                    <td><input type="text"  class="work-start hasDatepicker" {{^sunday}}disabled{{/sunday}} value="{{sunday.start}}"></td>
                    <td><input type="text"  class="work-end hasDatepicker" {{^sunday}}disabled{{/sunday}} value="{{sunday.end}}"></td>
                </tr>
                

            {{/working_plan}}
            <tbody>
        </table>
    {{/clinics}}

 
 
 </script>