<script id='tmpl_patient_search_results' type="x-tmpl-mustache">
   <div class="patients_search_results right-panel-card"> 
    <div class="right-panel-card-title">Patients</div>
    <ul class="right-panel-card-list">
        {{#patients}}
			<li class="patient" patient_id="{{patient_id}}">
                <a href="#" class="patient-result-main">
                    <i class="fa fa-user"></i>
                    <span>{{patient_surname}} {{patient_firstname}} ({{dob}})</span>
                </a>
                <a target="{{patient_id}}" href="index.php?com=patient&view=patient&patient_id={{patient_id}}" class="open_file">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Open file
                </a>
            </li>
        {{/patients}}
    <ul>
    </div>



</script>

<script id='tmpl_patient_demographics' type="x-tmpl-mustache">


    <div class="patient_demographics">
        <h2>
            <a class="back" href="#"><i class="fa fa-long-arrow-left fa-fw"></i></a> &nbsp;
            
                <a target="{{patient_id}}" href="index.php?com=patient&layout=component&view=patient&patient_id={{patient_id}}" class="fc-customer-name" data-bind="text: fullName, attr:{href: $root.viewCustomerUrl()}">{{patient_name}} &nbsp;&nbsp;{{{sex}}}</a>
        </h2>
        
        <div>
            <span class="btn-group button-add-events">
                <button class="btn btn-success bookAppointment" title="New appointment">
                    <i class="fa fa-calendar-plus-o"></i>
                </button>
            </span>

            <!--<span class="create-sale-button btn-group button-add-events">
                <button class="btn dropdown-toggle btn-icon-drop btn-success add-sale" data-toggle="dropdown" title="Create sale">
                    <i class="fa fa-tag"></i>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="add-invoice" href="#" data-bind="attr: { 'data-customer-id': id}" data-customer-id="8736344">Product</a></li>
                    <li><a class="add-walkin-service" href="#" data-bind="attr: { 'data-customer-id': id}" data-customer-id="8736344">Service</a></li>
                    <li><a class="add-concession" href="#" data-bind="attr: { 'data-customer-id': id}" data-customer-id="8736344">Package</a></li>
                    <li><a class="add-credit-nav" href="#" data-bind="attr: { 'data-customer-id': id}" data-customer-id="8736344">Credit</a></li>
                </ul>
            </span>-->



            <span class="btn-group">
                <a class="btn sendEmail">Send message</a>
            </span>
            <span class="btn-group">
                <a class="btn editPatient" >Edit</a>
            </span>

            <span class="clearfix"></span>
        </div>
        <div class="well">
            <div class='row'>
                <div class="col-sm-3"><label>Age</label></div>
                <div class="col-sm-1">{{age}}</div>
                

            </div>
            <div class='row'>
                <div class="col-sm-3"><label>DOB</label></div>
                <div class="col-sm-3">{{dob}}</div>
            </div>
            <div class='row'>
                <div class="col-sm-3"><label>Tel</label></div>
                <div class="col-sm-9"><a href="tel:{{phone}}">{{phone}}</a></div>
            </div>
            <div class='row'>
                <div class="col-sm-3"><label>Email</label></div>
                <div class="col-sm-9"><a href="mailto:{{email}}">{{email}}</a></div>
            </div>
            <div class='row'>
                <div class="col-sm-3"><label>address</label></div>
                <div class="col-sm-9">
                    <div class="row"><div class="col-sm-12">{{street}}</div></div>
                    <div class="row"><div class="col-sm-12">{{city}}</div></div>
                    <div class="row"><div class="col-sm-12">{{country}}</div></div>
                </div>
            </div>

            <div class='row'>
                <div class="col-sm-3"><label>Insurance</label></div>
                <div class="col-sm-9">{{insurance}}</div>
            </div>
	    <div class='row'>
                <div class="col-sm-3"><label>Doctor</label></div>
                <div class="col-sm-9">{{practitioner}}</div>
        </div>
          



        </div>
    </div>

</script>

<script id='tmpl_patient_appointments' type="x-tmpl-mustache">
    <div class="patient-appointments-history">
        <div class="appointments-history-card">
            <div class="appointments-history-title">{{title_future_appointments}}</div>
            <ul class="appointments-history-list">
                {{#future_appointments}}
                    <li start="{{start}}" appointmentID="{{id}}" resourceId="{{resourceId}}" class="right_panel_appointment appointments-history-item {{#is_cancelled}}appointmentCancelledHistory{{/is_cancelled}}" style="border-left-color:{{itemBorderColor}}">
                        <div class="appointments-history-date">{{strStart}}</div>
                        <div class="appointments-history-service">{{service}}{{#is_cancelled}} <span class="appointments-history-status">(Cancelled)</span>{{/is_cancelled}}</div>
                        <div class="appointments-history-meta">with {{resourceName}} @ {{clinicName}}</div>
                        {{#cancel_reason}}<div class="appointments-history-reason">Reason: {{cancel_reason}}</div>{{/cancel_reason}}
                    </li>
                {{/future_appointments}}
                {{^future_appointments}}
                    <li class="appointments-history-empty">No future appointments</li>
                {{/future_appointments}}
            </ul>
        </div>
       
        <div class="btn-group btn-group-justified" role="group">
            <a href="#" class="btn btn-success bookAppointment" role="button">Book appointment</a>
        </div>

        <div class="appointments-history-card">
            <div class="appointments-history-title">{{title_past_appointments}}</div>
            <ul class="appointments-history-list">
                {{#past_appointments}}
                    <li start="{{start}}" appointmentID="{{id}}" resourceId="{{resourceId}}" class="right_panel_appointment appointments-history-item {{#is_cancelled}}appointmentCancelledHistory{{/is_cancelled}}" style="border-left-color:{{itemBorderColor}}">
                        <div class="appointments-history-date">{{strStart}}</div>
                        <div class="appointments-history-service">{{service}}{{#is_cancelled}} <span class="appointments-history-status">(Cancelled)</span>{{/is_cancelled}}</div>
                        <div class="appointments-history-meta">with {{resourceName}} @ {{clinicName}}</div>
                        {{#cancel_reason}}<div class="appointments-history-reason">Reason: {{cancel_reason}}</div>{{/cancel_reason}}
                    </li>
                {{/past_appointments}}
                {{^past_appointments}}
                    <li class="appointments-history-empty">No past appointments</li>
                {{/past_appointments}}
            </ul>
        </div>
    </div>
   
  



</script>


<script id='tmpl_rooms_status' type='x-tmpl-mustache'>
    <div class="rooms-status-panel">
        <div class="right-panel-card-title">Rooms</div>
        <ul class="right-panel-card-list">
            {{#data}}
                {{#isNewPractitioner}}
                    <li class="rooms-status-practitioner">{{practitioner}}</li>
                {{/isNewPractitioner}}
                {{#busy}}
                	<li data-roomId="{{room_id}}" data-patientId={{patientID}} data-status={{status}} data-practitioner_id={{practitioner_id}} class="right_panel_roomstatus" style="border-color:{{borderColor}}">
                	<div class="room-status-head">
                        <label>{{room_name}}</label>
                        <label class="btn btn-sm btnEmptyRoom" data-appointment_id={{appointment_id}} data-room_id = {{room_id}}><i class="fa fa-trash-o"></i>&nbsp;</label>
                    </div>
                    {{#check}}
                    
                        <a target="{{patientID}}" href="index.php?com=patient&amp;view=patient&amp;layout=component&amp;patient_id={{patientID}}&amp;appointment_id={{appointment_id}}" class="room-status-link"><div><label>Patient: {{patientName}}</label></div></a>
                    {{/check}}    
                    {{^check}}
                    <div><label>In use by {{resourceName}}</label></div>
                    {{/check}}
                    
                    <div class="room-status-time">
                        <label>{{time}}</label>
                    </div>   
                       
                {{/busy}}
                {{^busy}}
                	<li data-roomId="{{room_id}}" data-patientId={{patientID}} data-status={{status}} data-practitioner_id={{practitioner_id}} class="right_panel_roomstatus" style="border-color:rgb(120, 205, 81)">
                	<div class="room-status-head"><label>{{room_name}}</label></div>

                {{/busy}}
                
                    
                    
                </li>
            {{/data}}

         </ul>
    </div>
       
   
    <br>
    
   
  



</script>
